body{
    background: url("background10.jpeg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 5;
    padding: 0;
}

.name{
    grid-area: name;
    color: #feb914;
    font-size: 150px;
    text-shadow: 3px 3px black;
    font-family: 'Lobster', cursive;
    margin-bottom: 0px;
    margin-top: 0;
}

button{
    width: 200px;
    height: 50px;
    border-radius: 0;
    background-color: #feb914;
    font-family: 'Press Start 2P', cursive;
    border: none;
    box-shadow: 3px 3px 1px 1px black; 
    cursor: pointer;
}
button:hover {
  background-color: #e7a713;
}
.buttons{
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.home{
text-align: center;
padding: 20px;
}
.home, .about, .projects, .contact {
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    padding: 20px;
  }

  #projects{
    height: 340vh;
    color: white;
  }
  a{
    color: white;
  }

  .subtitle{
    grid-area: subtitle;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    margin-top: 0px;
  }
  .main-img {
    margin-top: 0px;
    margin-bottom: 0px;
    grid-area: image;
    height: 300px;
  
  }

  .quote{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
  }

  .about{
    color: white;
  }


h1{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 100px;
}
.project-container > p, .p1, .p2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 27px;
   width: 500px;
   display: inline-block;
   margin-top: 0;
   height: 100px;
 
}
h4{
    margin-bottom: 15px;
}
video{
    margin-top: 30px;
    margin-right: 0px;
    margin-left: 50px;
}
.container1{
  display: grid;
  grid-template-areas: 
  'p1 vid'
  'p2 vid';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 500px;
}
.p1{
  grid-area: p1;
}
.p2{
  grid-area: p2;
}

.about > p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
}
.about > h1, .projects > h1, .contact > h1 {
  text-shadow: 3px 3px black;
  color: #feb914;
}

form {
  max-width: 400px;
  margin: 0 auto;
  font-family: 'Titillium Web', sans-serif;
  color: white;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  resize: vertical;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}