body{
    background: url("background4.jpeg");
    background-size: 100%;
    height: 100%;
    width: 100%;
    margin: 5;
    padding: 0;
}

.name{
    color: #feb914;
    font-size: 150px;
    /* -webkit-text-stroke: 2px gray; */
    text-shadow: 3px 0 gray, -3px 0 gray, 0 3px gray, 0 -3px gray,
               2px 2px gray, -2px -2px gray, 2px -2px gray, -2px 2px gray;
    font-family: 'Lobster', cursive;
}
button{
    width: 200px;
    height: 50px;
    border-radius: 0;
    background-color: #feb914;
    font-family: 'Press Start 2P', cursive;
}
.buttons{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.home, .about, .projects, .contact {
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
  }
